@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Roboto+Slab:wght@600&family=Rubik:wght@800&display=swap");
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 600;
  background-color: #121212;
  padding: 10px;
  flex-basis: 0;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.header_left {
  margin-right: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_mid {
  padding: 5px;
  display: flex;
  align-items: center;

  height: 25;
  width: 40%;
  color: gray;
  background-color: #eef3f8;
  border-radius: 5px;
}

.header_right_menu_icon {
  display: flex;
}
.header_right {
  display: none;
}
.logoNavBar {
  height: 40px;
  width: 50px;
  cursor: pointer;
}
.logoSlogan {
  margin-left: 25px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}
@media only screen and (min-width: 768px) {
  .header_right_list {
    display: flex;
    font-family: "Roboto Slab";
  }
  .header_right {
    display: flex;
    gap: 17px;
  }

  .header_right_menu_icon {
    display: none;
  }

  .header {
    display: flex;
    font-size: 15px;
    width: 100%;
    height: 20%;
  }

  .header_left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoNavBar {
    height: 40px;
    width: 50px;
    cursor: pointer;
  }
  .logoSlogan {
    margin-left: 25px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
  }
  .header_mid {
    display: inline-block;
    margin-top: 5px;
    height: 30px;
    width: 140px;
    margin-left: -35px;
    display: flex;
  }
}
