@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Rubik:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@500&family=Roboto+Slab:wght@200;600&family=Rubik:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionHeadertitle h2::before,
.sectionHeadertitle h2::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: red;
  margin: 0 10px;
}
.h3Welcome {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.h3WelcomeDrymSolutions {
  font-family: "Montserrat", sans-serif;
  color: #991c03;
}
.sectionHeadertitle h2::before {
  margin-right: 20px;
}

.sectionHeadertitle h2::after {
  margin-left: 20px;
}
.sectionHome {
  display: flex;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  background-image: url("./Assets/Images/homePage.jpg");
  background-color: #121212;
  background-size: cover;
  justify-content: center;
}
.sectionHomeLandingPhrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  gap: 10px;
  max-width: 100%;
  width: 100%;
}
.sectionHomeLandingPhrase h1 {
  font-size: 5vw;
  font-weight: 800;
  align-self: center;
  text-align: center;
}
element.style {
  text-align: center;
  font-weight: 400;
}
.sectionHome img {
  max-width: 100%;
}
.sectionOurServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.sectionHeadertitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.aboutSectionImage {
  width: 80%;
  margin: auto;
}
.sectionOurServicesCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

element.style {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.sectionAbout {
  display: flex;
  justify-content: space-evenly;
  padding: 75px 0;
  background-color: white;
  flex-direction: column;
}
.sectionAboutInfo {
  display: flex;
  flex-direction: column;
}
element.style {
  object-fit: cover;
  margin: 30px;
}
.sectionTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
element.style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.sectionTeamMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.sectionTeamCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 30%;
  margin: 10px;
}
.sectionAboutInfo img {
  object-fit: contain;
  margin: 30px;
}
.sectionTeamCardContainer img {
  border-radius: 120px;
  height: 100%;
  width: 100%;
}
.sectionContactUs {
  display: flex;
  margin: auto;
  height: 60vh;
  flex-direction: column;
  align-items: center;
}
.sectionContactUsInput {
  height: 7vh;
  width: 550px;
  border: 1px solid lightgray;
  padding: 10px;
}
.sectionContactUsForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  align-items: center;
  height: 75%;
}
.sectionContactUsTextArea {
  height: 130px;
  width: 542px;
  resize: none;
  padding: 10px;
  border: 1px solid lightgray;
}
.sectionContactUsTextArea {
  height: 130px;
  width: 80%;
  resize: none;
  padding: 10px;
  border: 1px solid lightgray;
}
.sectionContactUsInput {
  height: 7vh;
  width: 80%;
  border: 1px solid lightgray;
  padding: 10px;
}
.sectionHomeWelcomeP {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: white;
  width: 90%;
}

.sectionAboutInfo {
  display: flex;
  align-items: center;
  padding: 20px;
}
.sectionAboutUsInfo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .aboutSectionImage {
    margin: auto;
    max-width: 50%;
  }
  .memberCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    background-color: white;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: center;
    height: 300px;
    width: 300px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    border: 1px solid;
  }

  .memberCard img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .memberCard:hover {
    box-shadow: 0px 0px 3px 0px;
    transform: scale(1, 1);
  }

  .sectionHome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
  }
  .sectionHomeLandingPhrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    gap: 10px;
    max-width: 100%;
    width: 100%;
  }
  .sectionHomeLandingPhrase h1 {
    font-size: 3vw;
    font-weight: 800;
  }

  .sectionHomeLandingPhrase span {
    font-size: 2vw;
  }
  .sectionHome img {
    max-width: 50%;
  }
  .sectionAbout {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 90%;
  }
  .sectionOurServices {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
  }
  .sectionAboutInfo {
    display: flex;
    flex-direction: column;
  }
  .sectionAboutHeaderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 45px;
  }
  .sectionAboutContainer {
    display: flex;
    flex-direction: column;
  }
  .sectionHeadertitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px;
  }

  .sectionOurServicesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .sectionHeadertitle h2::before,
  .sectionHeadertitle h2::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: red;
    margin: 0 10px;
  }

  .sectionHeadertitle h2::before {
    margin-right: 20px;
  }

  .sectionHeadertitle h2::after {
    margin-left: 20px;
  }
  .sectionOurServicesHeaderContainer {
    display: flex;
    flex-direction: column;
  }
  .sectionOurServicesHeadertitle {
    display: flex;
    align-items: center;
  }

  .sectionTeam {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .sectionTeamMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .sectionTeamCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
    margin: 10px;
  }

  .sectionTeamCardContainer img {
    border-radius: 50%;
    height: 80%;
    width: 80%;
  }

  .sectionContactUs {
    display: flex;
    margin: auto;
    height: 60vh;
    flex-direction: column;
    align-items: center;
  }
  .sectionContactUsInput {
    height: 7vh;
    width: 550px;
    border: 1px solid lightgray;
    padding: 10px;
  }
  .sectionContactUsForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    align-items: center;
    height: 75%;
  }
  .sectionContactUsTextArea {
    height: 130px;
    width: 542px;
    resize: none;
    padding: 10px;
    border: 1px solid lightgray;
  }
  .sectionHomeWelcomeP {
    text-align: center;
    font-family: Montserrat, sans-serif;
    color: white;
    width: 45%;
  }
}
